@font-face {
  font-family: AlmoniRegular;
  src: url('/assets/fonts/almoni-dl-aaa-regular.otf') ;
}

@font-face {
  font-family: AlmoniBold;
  src: url('/assets/fonts/almoni-dl-aaa-bold.otf') ;
}

@font-face {
  font-family: AlmoniLight;
  src: url('/assets/fonts/almoni-dl-aaa-light.otf') ;

}
