@font-face {
  font-family: AlmoniRegular;
  src: url('/assets/fonts/almoni-dl-aaa-regular.otf') ;
}

@font-face {
  font-family: AlmoniBold;
  src: url('/assets/fonts/almoni-dl-aaa-bold.otf') ;
}

@font-face {
  font-family: AlmoniLight;
  src: url('/assets/fonts/almoni-dl-aaa-light.otf') ;

}


$fs10: 10px;
$fs11: 11px;
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs15: 15px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs23: 23px;
$fs24: 24px;
$fs25: 25px;
$fs26: 26px;
$fs28: 28px;
$fs30: 30px;
$fs32: 32px;
$fs34: 34px;
$fs36: 36px;
$fs38: 38px;
$fs40: 40px;
$fs49: 49px;
$fs50: 50px;
$fs52: 52px;
$fs56: 56px;
$fs84: 84px;
