<div>
  שאלה מס {{ questionNumber}}

  <input type="text" pInputText [(ngModel)]="theQuestion" placeholder="מהי השאלה שהינך רוצה לשאול?"/>

  <div *ngIf="theQuestion!==''">
    <p-dropdown [options]="questionType" [(ngModel)]="selectedQuestionType" placeholder="בחר סוג שאלה"
                optionLabel="qType"
                (onChange)="onChooseQuestionType(selectedQuestionType)">
    </p-dropdown>


  <div
    [ngSwitch]="question.questionType">
    <question-row *ngSwitchCase=1></question-row>
    <question-area *ngSwitchCase=2></question-area>
    <question-radio *ngSwitchCase=3></question-radio>
    <question-check *ngSwitchCase=4></question-check>
    <question-range *ngSwitchCase=5></question-range>

     <div>
      <button pButton (click)="goOn()">שמירה</button>
      <button pButton (click)="finish()">סיום</button>
    </div>
  </div>
  </div>
</div>
