<div *ngIf="survey" class="surveys">
  <h2>{{survey.survey_name | uppercase}} פרטים</h2>
  <div><span>שם:</span>{{survey.name}}</div>
  <div><span>שם משתמש: </span>{{survey.userName}}</div>
  <div><span>תאריך עדכון </span>{{survey.dateUpdating }}</div>
  <div class="footer">
    <button routerLink="/survey-edit/{{survey.id}}" class="text-right">
      עריכה
    </button>
    <button (click)="buildSurvey()" class="text-right">התחל בנית הסקר</button>
    <div *ngIf="addQuestions">
      <question ></question>
    </div>
  </div>
</div>
